.main-card{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.image-container{
  padding: 10px;
  border: 1px solid red;
}
.card{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  margin-bottom: 15px;
  padding: 10px;
}